{% extends 'web/scrubs.html' %}
{% block content %}
    <h1>Вход</h1>
     <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Войти</button>
    </form>
{% endblock %}