{% extends 'web/scrubs.html' %}
{% block content %}
<body>
    {% if not user.is_anonymous %}
        <a href="{% url 'my_res'%}"><br> Мои записи</a>
    {% endif %}
    <br>
    <a href="{% url 'analytics'%}"><br>Посмотреть статистику</a>

    <h2>Вы можете записаться на прием по следующим направлениям:</h2>

<ul>
    {% for category in categories %}
    <li>
        <a href="{% url 'services' category.id %}"><br>{{ category.name }}</a>
    </li>
    {% endfor %}
</ul>

</body>
{% endblock %}