{% extends 'web/scrubs.html' %}
{% block content %}
<body>
    {% for res in receptions %}
    <li>
        <div style="text-align: left">
            <b>Время:</b> {{ res.time }}
            <br>
            <b>Услуга:</b> {{ res.service.name }}
            <br>
            <b>Врач:</b> {{ res.service.doctor.full_name }}
        </div>
        <small><a href="{% url 'delete_res' res.id %}"><b>Удалить запись</b></a></small>
    </li>
    {% endfor %}

</body>
{% endblock %}