{% extends 'web/scrubs.html' %}
{% block content %}
<body>

    {% for time in free_time %}
    <li>
        <h4>{{ time }}</h4>
            <a href="{% url 'rec_add2' service_id time %}" methods="POST"><b>Выбрать</b></a>
    </li>
    {% endfor %}

</body>
{% endblock %}