{% extends 'web/scrubs.html' %}
{% block content %}
    <h1>Регистрация</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Зарегистрироваться</button>
    </form>
{% endblock %}