<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SCRUBS</title>
</head>
<body>
<h1><a href="{% url 'main' %}">SCRUBS</a></h1>
    <nav>
        {% if user.is_anonymous %}
            <div style="text-align: right">
                <a href="{% url 'reg' %}">Регистрация</a>
                <a href="{% url 'auth' %}">Вход</a>
            </div>
        {% else %}
            <div>
                {% if not user.is_anonymous %}
                    Вы авторизованы как <b>{{ user.username }}</b>
                {% endif %}
                <div style="text-align: right">
                    <a href="{% url 'logout' %}">Выход</a>
                </div>
            </div>
        {% endif %}
    </nav>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>