{% extends 'web/scrubs.html' %}
{% block content %}
<body>
<h1>Список медицинских услуг</h1>

    <form action="">
        <b>Поиск по фильтру:</b><br>
        {% for field in filter_form %}
            {{ field }}
        {% endfor %}
        <button>Найти</button>

    <br>
    <b><a href="?">Показать все</a></b>

<ul>
    {% for service in services %}
    <li>
        <h3>{{ service.name }}</h3>
        <div style="text-align: left">
            <b>Врач:</b> {{ service.doctor.full_name }}
            <br>
            <b>Цена:</b> {{ service.price }}
        </div>
        {% if not user.is_anonymous %}
            <a href="{% url 'rec_add' service.id %}  "><b>Записаться</b></a>
        {% endif %}
    </li>
    {% endfor %}
</ul>

    Всего {{ total_count }} услуг; на этой странице {{ services|length }}
<br>
<br>
    <nav>
        {% if services.has_previous %}
            <a href="?page=1">В начало</a>
            <a href="?page={{ services.previous_page_number }}">Предыдущая</a>
        {% endif %}
    </nav>
<br>
    <nav>
        {% if services.has_next %}
            <a href="?page={{ services.paginator.num_pages }}">В конец</a>
            <a href="?page={{ services.next_page_number }}">Следующая</a>
        {% endif %}
    </nav>
<br>
    Страница {{ services.number }} из {{ services.paginator.num_pages }}

</body>
{% endblock %}